body {
  font-family: calibri, helvetica;
  text-align: center;
  background-color: azure;
}

h1 {
  font-size: 36px;
  margin-bottom: -5px;
}

footer {
  margin-top: 20px;
}

a {
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #222;
  text-decoration: none;
}

#sketchpad-options {
  margin: 0px;
  padding: 5px;
}

button {
  border-radius: 5px;
}

#sketchpad-wrapper {
    margin: auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 0px;
    align-content: stretch;
    align-items: stretch;
    border: 25px outset rgb(219, 0, 0);
}