#sketchpad-wrapper {
    margin: auto;
    padding: 5px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.sketchpad-square {
    /* border: 1px solid black; */
    /* background-color: #ccc; */
}